*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

body{
  background-image: url("../img/img4.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.pageblock{
height: auto;
margin: 25px 50px;
margin-bottom: 20px;

}

header{
height: 200px;
background: rgb(213, 97, 14);
border: 5px solid white;
border-radius: 5px;
background-image: url("../img/img2.jpg");
background-repeat: no-repeat;
background-size: cover;
}

.navbar{
  height: 50px;
  background-color:rgb(51, 46, 49);
  margin-bottom: 20px;
}

.nav{
  background-color:rgb(51, 46, 49);
  color:white;
  list-style:none;
  width: 100%;
  padding:20px 0 20px 0;
}

.nav > li {

float:left;
font-size: 12px;
width: 14.28%;
text-align: center;
}

.nav > li > a {
  text-decoration: none;
  color: #ffffff;
  }

  .nav > li > a:hover{
    color: red;
  }


.mainblock{
  width: 100%;
  height: auto;

}

.mainblock:after {
  content: "";
  display: table;
  clear: both;
}

h2{
  margin-bottom: 20px;
}

/* prima colonna  */
.block1{
  height: 100%;
  width: 20%;
  float: left;
}

.block1 .primo{

  width:100% ;

  background: white;
  margin-bottom: 15px;
  border: 1px solid white;
  border-radius: 5px;
}

.block1 .primo p{
  color: green;
  margin-bottom: 20px;

}


/* seconda colonna */
.block2{

  width: 50%;
  float: left;
  margin-right: 5%;
  margin-left: 5%;
}

.block2 .secondo{
  width:100% ;
  height: 100px;
  background: white;
  margin-bottom: 15px;
  border: 1px solid white;
  border-radius: 5px;
}

/* terza colonna  */
.block3{
  width: 20%;
  float: left;

}


.block3 .content3{

  width: 80%;
  background: white;
  margin-bottom: 15px;
  border: 1px solid white;
  border-radius: 5px;
}

/* parte in fondo della pagina */

footer{
  position: relative;
  height: 300px;
  background: white;
  border: 1px solid white;
  border-radius: 5px;
  text-align: center;
  margin-bottom: 20px;
}

footer > hr {
  border:  1px solid black;
}

.intestazione{
  height: 50px;
}

.social {

  height: 100%;
  width:100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.social .ico{
  position: relative;
  height: 100%;
  width:33%;
  float: left;

}

.immagine.logo_ico{
  height: 50px;
  width: 50px;
}
